<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="Estudiantes01" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-7PO5S2D\SQLEXPRESS;Database=Estudiantes01;Integrated Security=True;"/>     
    </connectionStrings>
</configuration>